body {
    text-align: center;
    background-color: #ffb100;
}

ul, ol {
    text-align: left;
}

#content .col {
  	float: left;
}

#footer {
  	clear: left;
}

button, a {
	background-color: #B37C00;
	color: white;
	cursor: pointer;
	border: none;
	text-decoration: none;
	outline: none;
	transition: 0.4s;
	padding: 5px;
}

.norm {
	background-color: #ffb100;
	text-decoration: underline;
	color: white;
	padding: 0;
	transition: 0s;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 0 18px;
	max-height: 0;
	margin: 10px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion {
	padding: 18px;
	width: 75%;
	text-align: left;
}

.active, .accordion:hover, a:hover {
	background-color: #ccc;
}