body {
        text-align: center;
        background-color: #ffb100;
}

ul {
        text-align: left;
}

div {
	margin: 10px;
}

.flex-container {
    display: -webkit-flex;
    display: none;
	background-color: #B37C00;
}